<div data-controller="users-by-email-auth">
  <div>
    <div class="flex">
      <div class="flex-none absolute cursor-pointer" data-modal-target="closeButton">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </div>
      <div class="grow">
        <h3 class="text-md font-semibold leading-6 text-gray-900 text-center mb-4" id="modal-title">Log in or sign up</h3>
      </div>
    </div>
    <div class="relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
    </div>

    <div class="pt-4">
      <h4 class="text-2xl leading-6 text-gray-900 mt-2 font-medium">Welcome to Airbnb</h4>
      <div data-users-by-email-auth-target="emailWrapper" class="relative border border-gray-300 mt-6 rounded-md px-3 py-2 shadow-sm ring-inset ring-gray-300 focus-within:ring-1 focus-within:ring-black focus-within:border-black">
        <label for="email" class="block text-xs font-medium text-gray-900">Email</label>
        <input data-users-by-email-auth-target="email" type="text" name="email" id="email" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-300 focus:ring-0 sm:text-sm sm:leading-6 text-red-900" placeholder="joesmith@gmail.com">
        <div data-users-by-email-auth-target="invalidSvg" class="hidden pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
          <svg class="h-5 w-5 text-red-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-5a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5A.75.75 0 0110 5zm0 10a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
          </svg>
        </div>
        <p data-users-by-email-auth-target="errorMessage" class="hidden mt-2 text-sm text-red-600" id="email-error">Not a valid email address.</p>
      </div>
    </div>


    <div class="my-5 sm:my-6">
      <%#<button type="button" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back to dashboard</button> %>
        <button data-users-by-email-auth-target="submit" type="button" class="w-full justify-center inline-flex rounded-md bg-red-400 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 airbnb-pink-gradient">Continue</button>
    </div>
</div>

<div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="bg-white px-2 text-sm text-gray-500">or</span>
  </div>
</div>
<div class="my-5 sm:my-6">
  <button type="button" class="border border-black w-full justify-center rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
    <div class="flex items-center justify-center mx-auto">
      <%= image_tag "svg/facebook.svg", class: "h-6 w-6 start" %> Continue with Facebook
    </div>
  </button>
</div>
