@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom CSS below */
.airbnb-pink-gradient {
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  ) !important;
  background-image: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  ) !important;
}

.invalid-inset-input-text-field {
  border-color: rgb(244, 63, 94) !important;

  label {
    color: rgb(244, 63, 94) !important;
  }

  input[type="email"], input[type="text"] {
    &:focus {
      border-color: rgb(244, 63, 94) !important;
    }
      color: rgb(244, 63, 94) !important;
  }
}
